a.play.icon-play
a.pause.icon-pause
span.time 00:00
span.seekbar
  input(type='range', value='0').seek
a.size hd
span.volume
  span.icon-volume-up
  input(type='range', value='100')
  span.icon-volume-down
a.fullscreen.icon-resize-full
a.screen.icon-resize-small